.MatchDetails {
    background-color: rgb(138, 124, 124);
    margin-bottom:  20px;
    padding: 10px;
}
.SpoiledResults {
    background-color: rgb(80, 163, 80);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);

}
.HIDE{
    display: none;
}