.MatchesByDay {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
}
.MatchesByDay .react-calendar {
    width: 250px;
}
.MatchList {
    grid-row: span 3;
}
.MatchList .PageTitle {
    display: grid;
    grid-template-columns: 1fr 6fr;
}